.footer {
    height: 20vh;
    background-color: #181818;
    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
        font-size: 19px;
        margin: 0;
    }
}
