.skillContainer {
    height: 55vh;
    width: 45vh;
    background-color: var(--background-interact2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1.5rem 2.5rem 4rem 1.5rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;

    
    h3 {
        grid-column: 1 / 3;
        color: var(--primary-color);
        font-size: 36px;
        padding: 0;
        margin: 0;
        text-align: center;
        
        @media screen and (max-width: 700px) {
            font-size: 32px;
            margin-top: -5%;
        }
    }
    
    
    button {
        grid-column: 1 / 3;

        padding: 0.25rem 1rem; 
        border-radius: 5px;
        border: none;
        
        color: var(--primary-color);
        font-size: 17px;
        font-weight: bolder;
        background-color: rgba(0, 0, 31, 0);
        border: solid var(--primary-color) 2px;

        cursor: pointer;

        transition: 0.3s ease-in-out;

        @media screen and (min-width: 700px) {
            display: none;
        }
    }

    button:hover {
        color: var(--font-color);
        background-color: var(--primary-color);
        border: solid rgba(255, 255, 255, 0.452) 2px;
    }

    @media screen and (min-width: 700px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 40% 40%;
    }
}